:root {
    --color-background: #E0FEFD;
    --color-header: #53B6DE;
    --color-header-text: #0000DE;
    --color-link: black;
    --color-body-text:#1D1BDE;

    --font-header: "Quicksand", sans-serif;
    --font-body: "Noto Sans Display", sans-serif;

    --spacing-default: 1em;
}

body.dark-mode {
    --color-background: #02011F;
    --color-header: #2149A1;
    --color-header-text: #E8FFFF;
    --color-link: white;
    --color-body-text: #21e4e2;
}